*{
    margin: 0%;
    padding: 0%;
}

:root{  /*define estilos globais*/
    font-family: "Alice", serif;
    line-height: 150%;
}

body{
    background-image: url(assets/bg.jpg);
    background-size: cover; /*cobre toda a area visivel  */
    box-sizing: border-box; /*espreme o conteúdo para que o padding e a borda caibam dentro da largura(width) */
    
}

.container{
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto 28px; /*cima, direita, baixo, esquerda (ordem dos valores)*/
}

.image{
    border-radius: 16px;
    
}

#about ul{
    list-style: none;
}

main{
    margin-top: 24px;
    margin-left: 24px;
    padding: 24px ;
}

section + section{ /*estilo será aplicado a toda e qualquer tag que venha imediatamente após outra tag igual*/
    margin-top: 24px;
}

h1{
    line-height: 140%;
    font-size: 40px;
}

h2{
    font-size: 24px;
    margin-bottom: 4px;
}

h1 , h2{
    color: #291B1A;
    line-height: 150%;
}

p{
    color: #573A37;
    margin-bottom: 12px;
}

#ingredientes ul{
    padding-left: 24px;
}

footer{
    color: #F0E8C2;
    text-align: center;
    padding: 48px;
}