*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(assets/bg.jpg);
    background-size: cover; /*cobre toda a area visivel  */
}

.container{
    box-sizing: border-boxzing; /*espreme o conteúdo para que o padding e a borda caibam dentro da largura(width) */
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: auto;
}

.image{
    border-radius: 16px;
    
}

main{
    margin-top: 24px;
    margin-left: 24px;
    padding: 24px ;
}

#about h1{
    margin-bottom: 4px;
}

#about p{
    margin-bottom: 12px;
}

#ingredientes{
    margin:  24px 0px 24px 0px
}

#ingredientes h2{
    margin-bottom: 4px;
}

#about ul li{
    list-style: none;
    padding: 0px 12px 0px 0px;
}

.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

p{
    font-family: "Alice", serif;
    font-weight: 400;
    font-size: 16px;
}

h1{
    font-family: "Alice", serif;
    font-weight: 400;
}

h2 {
    font-family: "Alice", serif;
    font-weight: 400;
}

footer{
    padding: auto;
}